.cards{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 80px;
    
}

.card{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFF;
    border-radius: 20px;
}

.card img{
    margin-top: 10px;
    height: 300px;
    width: 90%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

.card-info{
    padding: 20px;
    text-align: center;
    background-color: rgba(252, 252, 252, 0.842);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}